*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    height: inherit;
}

.title{
    font-family: system-ui;
    text-align: center;

}

.header{
    background-color: #737373;
    height: 100px;
}

.header img{
    height: 80px;
    display: inline-block;
    padding-top: 10px;
    
}

.nav{
    background-color: #7fa046;
    height: 88px;
}

.nav li{
    display: inline-block;
    line-height: 60px;
    font-size: 15px;
    font-family: system-ui;
    color: #283326;
}

.nav li a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav li a:hover{
    background-color: #b3b3b3;
    color: #737373;
    transition: all 0.5s;
}


.content{
    
    background-color: #d9d9d9;
    /* height: 500px; */
    padding: 20px 0;
    overflow: hidden;
}

.content .content-img{
    width: 300px;
    float: left;
    padding: 0 20px 20px 0;
}

.text{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    line-height: 40px;
}

.item {
    font-family: system-ui;
    width: 30%;
    padding: 20px 10px;
    background-color:  #7fa046 ;
    float: left;
    margin: 20px 10px;
    text-align: center;
    border-radius: 60px 10px;
 
}

.item img {
    width: 50%;
    padding: 20px 0;
}

.item a{
    text-decoration: none;
    color: black;
    border: 2px solid darkolivegreen;
    border-radius: 10px 60px;
    padding: 8px 20px;
    transition: all 0.5s;
}

.item a:hover{
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
    color: #737373;
}

.item p {
    padding-bottom: 20px;
}


.container {
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #7fa046;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #737373;  
  background-color: #d9d9d9;
  transition: all 0.5s
  
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer{
    font-family: system-ui;
    background-color: #b3b3b3;
    height: 40px;
    line-height: 50px;
    color: black
}

.block{
    max-width: 700px;
    height: 400px;
    border: 2px solid red;
    margin: 0 auto;
    font-weight: bold;
   
}

.block div{
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.block1{
    background-color: #7fa046;
}

.block2{
    background-color: #737373;
    position: absolute;
    top: 20px;
    left: 70px;
    width: 30px;
}

.block3{
    background-color: #b3b3b3;
}